.body {
    display: grid;
    grid-template-columns: 564px 320px;
    gap: var(--spacing-md);
    margin: var(--spacing-md) auto;
    width: fit-content;
}

/* Responsive Design */
@media screen and (max-width: 935px) {
    .body {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0 var(--spacing-lg);
    }
}