/* Navigation Bar */
.navbar {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    padding: var(--spacing-md) var(--spacing-lg);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: var(--spacing-lg);
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    column-gap: var(--spacing-sm);
}

.logo h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 32px;
    margin: 0;
}

/* Search Bar */
.search {
    position: relative;
    background-color: var(--search-bg-color);
    width: 451px;
    max-width: 451px;
    border: none;
    border-radius: 8px;
}

.search input {
    background-color: transparent;
    width: calc(451px - 37px);
    max-width: calc(451px - 37px);
    border: none;
    padding: calc(var(--spacing-sm) * 0.65) var(--spacing-md);
    font-size: 20px;
    color: var(--navbar-text-color);
}

.search input::placeholder {
    color: var(--search-placeholder-color);
}

.search input:focus {
    outline: none;
}

.search button {
    border: none;
    cursor: pointer;
}

.search svg {
    position: absolute;
    right: var(--spacing-md);
    top: 50%;
    transform: translateY(-50%);
    fill: var(--navbar-text-color);
}

/* Settings */
.settings {
    display: flex;
    justify-content: flex-end;
    column-gap: var(--spacing-lg);
}

.setting {
    position: relative;
}

.setting button, .menu button {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: var(--spacing-sm);
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.setting span {
    font-size: 20px;
}

.setting span + svg {
    fill: var(--navbar-text-color);
    transition: transform 0.1s ease;
}

.rotated {
    transform: rotate(180deg);
}

.dropdownMenu {
    position: absolute;
    top: 130%;
    right: 0;
    background-color: var(--dropdown-bg-color);
    color: var(--text-color);
    border-radius: 3px;
    width: max-content;
    padding: 8px 0;
    border: 1px solid var(--text-color);
    z-index: 10;
}

.dropdownMenu::before {
    content: '';
    position: absolute;
    top: -7px;
    right: 13px;
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
    background-color: var(--dropdown-bg-color);
    border-left: 1px solid var(--text-color);
    border-top: 1px solid var(--text-color);
}

.dropdownMenu button {
    padding: 4px var(--spacing-sm);
    cursor: pointer;
    transition: background-color 0.1s ease;
    width: 100%;
    font-size: 14px;
}

.solid {
    fill: var(--text-color);
}

.dropdownMenu button:hover {
    background-color: var(--dropdown-hover-color);
}

.unitsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacing-sm);
}

.unitsSection button:hover {
    background-color: inherit;
}

.unitsSection button:hover span {
    text-decoration: underline;
}

.unitsSection span {
    font-size: 13px;
}

span.unitsSectionTitle {
    font-size: 14px;
}

.unitOptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-md);
    align-items: center;
    justify-content: center;
}

.unitOptions button {
    display: block;
    padding: 0;
}

.selected {
    font-weight: 700;
}

.navbar hr {
    width: 100%;
    margin: var(--spacing-sm) auto;
    border: none;
    border-bottom: 1px solid var(--text-color);
}

/* Menu for Mobile */
.menu {
    position: relative;
}

.menu .dropdownMenu {
    left: -5px;
    right: auto;
    top: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .dropdownMenu::before {
    left: 10px;
    right: auto;
}

.menuTitle {
    font-weight: 700;
}

.menu .unitsSpliter {
    width: 90%;
    opacity: 0.5;
}

.menu button {
    justify-content: center;
}

/* Responsive Design */
@media (max-width: 1057px) {
    .navbar {
        grid-template-columns: auto auto 1fr;
    }

    .search {
        justify-self: end;
        width: 100%;
    }

    .search input {
        width: calc(100% - 37px);
    }
}

@media (max-width: 482px) {
    .navbar {
        grid-template-columns: auto 1fr;
        column-gap: var(--spacing-md);
        padding: var(--spacing-md);
    }
}
