/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Root Variables */
:root {
    /* Navbar Colors */
    --navbar-bg-color: #1C2A4F;
    --navbar-text-color: #FFFFFF;
    --search-bg-color: #354267;
    --search-placeholder-color: rgba(255, 255, 255, 0.75);
    --dropdown-bg-color: #FFFFFF;
    --dropdown-hover-color: #F0F0F0;

    /* Body Colors */
    --bg-color: #F6F4EA;
    --card-bg-color: #FFFFFF;
    --text-color: #203775;
    --temperature-color: #0D1F4F;
    --scroll-bar-color: #D2D7E3;
    --horizonal-line-color: rgba(32, 55, 117, 0.2);

    /* Header Colors */
    --header-text-color: #FFFFFF;
    --image-overlay: rgba(0, 0, 0, 0.1);
    --header-overlay: rgba(13, 31, 78, 0.6);

    /* Weather Icon Colors */
    --sun-color: #FBB930;
    --cloud-color: #A3B6C2;
    --rain-color: #2F85BF;
    --snow-color: #D3E0E0;
    --wind-color: #A3B6C2;
    --precipitation-color: #35ABFA;
    
    /* Running Conditions Colors */
    --conditions-explanation-color: #5068AA;
    --circle-bg-color: #BCC2D2;
    --circle-severe-color: #FF4D4D;
    --circle-moderate-color: #FF9335;
    --circle-good-color: #4CAF50;

    /* Other */
    --shadow: 0px 0px 10px rgba(11, 24, 60, 0.4);
    --border-radius: 16px;
    --padding: 16px;
    --spacing-lg: 20px;
    --spacing-md: 12px;
    --spacing-sm: 8px;
    --main-font: 'Inter', sans-serif;
    --number-font: 'Roboto Mono', monospace;
}

/* Dark Theme */
[data-theme="dark"] {
        /* Navbar Colors */
        --navbar-bg-color: #0F172E;
        --navbar-text-color: #E0E8FD;
        --search-bg-color: #1C2746;
        --search-placeholder-color: rgba(224, 232, 253, 0.75);
        --dropdown-bg-color: #121b30;
        --dropdown-hover-color: #202c47;
    
        /* Body Colors */
        --bg-color: #090E1B;
        --card-bg-color: #18233E;
        --text-color: #CBD2E7;
        --temperature-color: #FFFFFF;
        --scroll-bar-color: #323F5F;
        --horizonal-line-color: rgba(203, 210, 231, 0.2);
    
        /* Header Colors */
        --image-overlay: rgba(0, 0, 0, 0.25);
    
        /* Weather Icon Colors */
        --sun-color: #FFDA46;
        --cloud-color: #FFFFFF;
        --rain-color: #25A8FF;
        --snow-color: #FFFFFF;
        --wind-color: #c4d5e0;
        --precipitation-color: #31C5FF;
        
        /* Running Conditions Colors */
        --conditions-explanation-color: #8E9FCB;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1 {
    font-size: 80px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: calc(var(--spacing-sm) * 0.5);
}

h3 {
    font-size: 20px;
    font-weight: 300;
}

/* Paragraphs */
p {
    font-size: 16px;
    font-weight: 300;
}

/* Horizontal Line */

hr {
    border: none;
    border-top: 1px solid var(--horizonal-line-color);
}

/* Panels */

.panel {
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: 10px;
    background-color: var(--card-bg-color);
    color: var(--text-color);
}

/* Numbers */

.number {
    font-family: var(--number-font);
}