.panels {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md) !important;
}

.panelList {
    display: flex; 
    flex-direction: column;
    gap: calc(var(--spacing-sm) * 0.125);
    height: 100%;
    width: 100%;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) var(--card-bg-color);
    max-height: 307px;
    padding-right: var(--spacing-sm);
}

.panelListItem {
    display: grid;
    grid-template-columns: 45px 52px 50px 62px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--horizonal-line-color);
    padding: 0 var(--spacing-lg);
}

.dailyPanelListItem {
    grid-template-columns: 50px 93px 50px 62px
}

.panelListItem:last-child {
    border-bottom: none;
}

.panelCell {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.weatherIcon {
    height: 50px;
    width: auto;
}

.bold {
    font-weight: bold;
}
.temp {
    font-size: 32px;
    font-weight: 300;
    color: var(--temperature-color);
}

.temp.bold {
    font-weight: 500;
}

.minMax {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-sm) * 0.5);
}

.min {
    font-size: 16px;
    font-weight: 200;
    margin-top: 0.8em;
}

.drop {
    column-gap: var(--spacing-sm);
}

.drop svg {
    color: var(--precipitation-color);
    height: 9px;
    width: auto;
}


/* Responsive Design */
@media screen and (max-width: 463px) {
    .panelListItem {
        grid-template-columns: 45px 40px 40px 62px;
    }
    
    .dailyPanelListItem {
        grid-template-columns: 50px 76px 40px 62px
    }

    .temp {
        font-size: 24px;
    }
    
    .min {
        font-size: 14px;
    }

    .panelCell {
        height: 42px;
    }

    .panelListItem {
        padding: 0 var(--spacing-sm);
    }
    .weatherIcon {
        height: 40px;
    }
}
