.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacing-sm);
    margin: 3% 27%;
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: var(--card-bg-color);
    color: var(--text-color);
    text-align: center;
}

.panelList {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) var(--card-bg-color);
    height: 500px;
}

.panelCell{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}