.informationRow {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: var(--spacing-sm);
    padding: 0 var(--spacing-sm);
}

.informationRow + hr {
    margin: calc(var(--spacing-sm) * 0.7) 0 calc(var(--spacing-sm) * 0.5);
}

.wind {
    display: flex;
    align-items: center;
    column-gap: var(--spacing-sm);
}

.proLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
}

/* Responsive Design */
@media screen and (max-width: 518px) {
    .proLayout {
        grid-template-columns: 1fr;
        gap: 0;
    }
}